tbody
  display: block
  overflow-x: auto
  white-space: nowrap

.scroll
  border-collapse: collapse
  tr
    display: flex
  td
    padding: 3px
    flex: 1 auto
  thead
    tr:after
      content: ''
      overflow-y: scroll
      visibility: hidden
      height: 0
    th
      flex: 1 auto
      display: block
  tbody
    display: block
    font-size: 12px;
    width: 100%
    overflow-y: auto
    height: 400px