
how many <input type="number" [(ngModel)] = "rows" name="rows"> rows, you want to display?
<div >
    <div class="scroll">
        <table style="border: 21px; color:black"> 
            <thead>
              <tr> 
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Company</th>
                <th></th>
    
              </tr>
             
            </thead>
            <tbody>
              <div *ngIf = 'pageNo !=1'>
                  <tr *ngFor="let user of tablePageList; let i = index">
                
                      <!-- <td *ngIf = "i < rows">{{i+1}}</td> -->
                      <td *ngIf = "i < rows">{{user.id}}</td>

                      <td *ngIf = "i < rows">{{user.name}}</td>
                      <td *ngIf = "i < rows">{{user.phone}}</td>
                      <td *ngIf = "i < rows">{{user.email}}</td>
                      <td *ngIf = "i < rows">{{user.company}}</td>
                      <td *ngIf = "i < rows"><button (click) = 'submit(user.id)'>Submit</button></td>
                
                    </tr>
              </div>
            <div *ngIf = 'pageNo == 1'>
                <tr *ngFor="let user of users; let i = index">            
                    <!-- <td *ngIf = "i < rows">{{i+1}}</td> -->
                    <td *ngIf = "i < rows">{{user.id}}</td>

                    <td *ngIf = "i < rows">{{user.name}}</td>
                    <td *ngIf = "i < rows">{{user.phone}}</td>
                    <td *ngIf = "i < rows">{{user.email}}</td>
                    <td *ngIf = "i < rows">{{user.company}}</td>
                    <td *ngIf = "i < rows"><button (click) = 'submit(user.id)'>Submit</button></td>     
                  </tr>
            </div>
              
            </tbody>
            <tfoot>
             
              <tr>
                <td>  <button type="button" [disabled]="!preShow" (click)="showPrePage()">pre</button>
                  <input type="text" (change)="onChangePage($event.target.value)" placeholder="{{curPage}}" value="{{curPage}}">
                  <span> / {{pageNo}} page</span>
                  <button type="button" [disabled]="!nextShow" (click)="showNextPage()">next</button>
                  <span> per page : </span>
                  
                  <select (change)="onChangePageSize($event.target.value)">
                      <option *ngFor="let pageSize of pageSizes" value="{{pageSize}}">{{pageSize}}</option>
                  </select>
             </td>
              </tr>
            </tfoot>
          </table>
    </div>
</div>

